<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Grand Central Information</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mars information including...</h1>
      <p>Mars statistics. Mars pictures. Mars headlines.  No Sloths on Mars yet.</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>
    <img src="{{ app_dat.mars_py_img }}" alt="large_image1">
    <h2>Statistics for Mars include</h2>
    <h3>Equatorial Diameter: {{ app_dat.mars_py_equatorial_diameter }}</h3>
    <h3>Polar Diameter: {{ app_dat.mars_py_polar_diameter }}</h3>
  </div>
  </div>
</body>

</html>
